body {
    background-color: #FFFFFF;
}

.main.container {
    margin-top: 8em;
    min-height: 600px;
}

#hero {
    background: #282828 !important;
    padding: 4rem !important;
    margin-top: 50px !important;
    border-radius: 0 !important;
    margin-bottom: 2rem;
}

#hero .header, #hero h1 {
    color: #fabd2f;
    font-size: 4rem;
}

#hero .sub.header {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.articles {
    margin-bottom: 50px !important;
}

.main.menu {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.main.menu .item img.logo {
    margin-right: 1.5em;
}

.overlay {
    float: left;
    margin: 0em 3em 1em 0em;
}

.overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}

.main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.overlay.fixed .menu {
    left: 800px;
}

.text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
}

.text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
    margin: 0;
    padding: 1rem;
}

.article-top {
    margin-top: 170px !important;
    padding-bottom: 50px !important;
}

.article-huge {
    font-size: 4em !important;
}

.chevron:hover {
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
}

.page-text {
    font-size: 1.5em;
}

.archive {
    margin-bottom: 30px;
}

.archive a {
    padding-left: 15px;
}

code, pre {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-style: normal;
}


/*inline code*/

code {
    padding: 2px 4px;
    color: #cc241d;
    background: #fbf5d7;
    font-size: 80%;
}

pre {
    font-size: 85%;
    overflow-y: hidden;
    overflow-x: auto;
    padding: .3rem .5rem;
    margin: 1rem 0;
}
